{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class = "content-section">
    <form method = "POST" enctype="multipart/form-data" id="post-form">
        {% csrf_token %}
        <fieldset class = "form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            <input class="w-100" type="text" placeholder="title" id='title'>
            <textarea class='w-100 mt-2' id="content" id="" cols="50" rows="5"></textarea>

        </fieldset>
<div class = "form-group">
    <button class = "btn btn-outline-info" type = 'submit'>Post</button>
</div>

    </form>
</div>
<script src="{% static 'js/post_form.js' %}"></script>
{% endblock content %}