{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <article class="media content-section">
      <img class = "rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author.id == user.id %}
            <div>
              <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>
        </div>
      </article>
 
      <!-- <div class="media-content-section">
  {% for comment in comments %}
    <div class="comment">
      <p class ="article_content">{{ comment.comment_text }}</p>
      <p>by {{ comment.user }}</p>
    </div>
  {% endfor %}
</div> -->
<h1>Comments</h1>
{% if comments %}
<article class="media content-section">
  <!-- <div class="media-body"> -->
    <div class="article-metadata">
      <div>
        {% for comment in comments %}
        <p class="article-content">{{ comment.comment_text }}</p>
        <a href="{% url 'user-posts' comment.user %}"><p>by {{ comment.user }}</p></a>
        <hr>
       {% endfor %}
      </div>
    

{% endif %}



  <form method = "POST">
      {% csrf_token %}
      <fieldset class = "form-group">
          {{ form|crispy }}

      </fieldset>
<div class = "form-group">
  <button class = "btn btn-outline-info" type = 'submit'>Comment</button>
</div>

  </form>
</div>
</article>
{% endblock content %}



