{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="detail-container">
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author.id == user.id %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <h2 class="article-title text-center">{{ object.title }}</h2>
            {% if object.img_post %}
            <img class="d-flex w-100" src="{{ object.img_post.url }}" alt="{{ post.title }}">{% endif %}
            <p class="article-content lead mt-2">{{ object.content }}</p>
        </div>
    </article>

    {% if comments %}
    <article class="media content-section">
        <!-- <div class="media-body"> -->
        <div class="article-metadata">
            <div>
                {% for comment in comments %}
                <p class="article-content"> <a href="{% url 'user-posts' comment.user %}">{{ comment.user }}</a> {{
                    comment.comment_text }}</p>

                <!-- <hr> -->
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </article>
</div>
<div class="container">
    <div class="row justify-content-center">
        <form method="" id="commentsForm">
            {% csrf_token %}
            <fieldset class="form-group comment">
                <textarea id="comment" placeholder="Comments"></textarea>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-1" type='submit'>Comment</button>
            </div>
    </div>
</div>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='{% static "js/detail.js" %}'></script>
{% endblock content %}